* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.card {
  line-height: 28px;
  width: 700px;
  background-color: rgb(241, 43, 43);
  padding: 20px;
  margin: 20px;
  line-height: 30px;
}

/* Scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #000000;
  background-image: linear-gradient(180deg, #000000 0%, #ff0000 100%);
}
